body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

.products,
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.product,
.cart-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.product:hover,
.cart-item:hover {
    transform: scale(1.05);
}

.product h2,
.cart-item h2 {
    color: #555;
    font-size: 1.5em;
}

.product p,
.cart-item p {
    color: #777;
    font-size: 1em;
    line-height: 1.6em;
}

.label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
}

.select,
.button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #4cae4c;
}

.cart {
    margin-top: 40px;
}

.cart-item {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item p {
    margin: 5px 0;
}

.alert {
    padding: 15px;
    background-color: #5cb85c;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

/* Form input fields */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button */
.btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}